<div class="container">
    <div class="overlay">
        <div class="location">
            <h1 class="title">Restauracja</h1>
            <h2>Armii Krajowej 22, Kraków</h2>
            <h2>555 666 777</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20484.213307024318!2d19.88448539424527!3d50.07642561643644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1spl!2spl!4v1639435914753!5m2!1spl!2spl"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </div>
    </div>
</div>