body{
	background-color: #d2d2d2;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.slider{
	max-width: 800px;
	border:10px solid  #29a8e2;
	margin:80px auto;
	position: relative;
	overflow: hidden;
	background: white;
	text-align: center;
	height: 500px;
	padding-top: 10px;
	box-shadow: 0 0 80px black;
	
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  bottom: 15%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}

.slider .random{
	left: 40%;
	width: 20%;
	margin-bottom: 10px;
	position: absolute;
	border-radius: 50%;
	font-size: 15px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	bottom: 0;
	border: 2px solid lightblue;
    background: white;
	border-radius: 10px;
	color: lightblue;
  }

  .slider .random:hover {
	border: 2px solid rgb(63, 194, 238);;
    background: rgb(204, 230, 239);
	color: rgb(63, 194, 238);
  }




.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.slider .left-slide{
	left: 42%;
}
.slider .right-slide{
	right: 42%;
}



.slider .slider-items .item{
	display: none;
	position: relative;
}


.slider .slider-items .item.active{
	display: block;
}

.image {

	margin-left: auto;
	margin-right: auto;
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}


.name {
	font-weight: bold;
	font-size: 25px;
}

.title {
	color: rgb(0, 187, 255);
	font-weight: bold;
	font-size: 20px;
}

.description {
	margin: 20px;
}






