span {
    margin-left: 20px;
}

nav {
    margin-right: 20px;
}

.currency {
    margin-left: 20px;
    margin-top: 10px;
}

#usd {
    margin-left: 10px;
}

.currency label {
    margin-left: 5px;
}